@import '../../variable.scss';



#moim-page {
    .title-wrap {
        display: flex;

        .title {
            width: 40%;
            background: #fff;
            border-radius: 20px;
            padding: 30px 40px;
            box-sizing: border-box;
            box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;

            h3 {
                font-size: 3em;
                font-weight: 600;
            }

            p {
                margin-top: 50px;
                font-size: 2em;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            width: 7%;
            padding: 0 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            font-size: 3em;
            transition: .1s;
            text-align: center;

            &:hover {

                box-shadow: 5px 5px 44px #ebebeb,
                    -5px -5px 44px #ffffff;
            }
        }

        margin: 80px 0 100px 0;
    }
}



#moim-add-page {
    height: 2000px;
    .title-wrap {
        h3 {
            font-size: 3em;
            font-weight: 500;
        }
        margin-top: 30px;
    }

    form[name='moim-form'] {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        input {
            @include initial-input;
            border: none;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }


        p {
            font-size: 1.3em;
            margin-bottom: 10px;
        }


        .left{
            width: 40%;
            // background-color: rebeccapurple;
            .image-upload{
                .main-image {
                    position: relative;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 500px;
                        border-radius: 30px;
                        box-shadow: 5px 5px 44px #ebebeb,
                        -5px -5px 44px #ffffff;
                        color: rgb(54, 54, 54);
                        background-position: center;
                        background-size: auto 100%;
                        font-size: 5em;
                        &.on {font-size: 0;}
                    }
                    input[type='file'] {
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        cursor: pointer;
                        opacity: 0;
                    }
                }

                @keyframes inputFadeIn {
                    0% {
                        width: 0%;
                        font-size: 0;
                    }

                    75% {
                        font-size: 0;
                    }

                    100% {
                        width: 100%;
                        font-size: 1em;
                    }
                }
                @keyframes inputFadeOut {
                    0% {
                        width: 100%;
                        font-size: 1em;
                    }

                    25% {
                        font-size: 0;
                    }

                    100% {
                        width: 0;
                        font-size: 0;
                    }
                }

                button {
                    @include initial-btn;
                    &.del-btn {
                        margin-top: 30px;
                        width: 0;
                        line-height: 40px;
                        font-size: 1em;
                        background: #E06923;
                        color: #fff;
                        border-radius: 10px;
                        position: relative;
                        z-index: 2;
                        animation: inputFadeIn .3s forwards;
                    }

                    &.fade-out {
                        animation: inputFadeOut .3s forwards;
                    }
                }
            }

            p{
                margin-top: 28px;
            }

            .loc-part {
                width: 100%;
                label {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    input {
                        display: block;
                        width: 90%;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        line-height: 40px;
                        text-align: center;
                        padding: 0;
                    }
                    button {
                        width: 8%;
                        height: 40px;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        font-size: 1.1em;
                    }
                }

                #myMap {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px;
                    margin-top: 10px;
                }
            }
        }
        .right {
            width: 56%;
            input[name='title'] {
                padding: 10px 20px;
                background: #fff;
                width: 100%;
                line-height: 30px;
                display: block;
                font-size: 1.3em;
                border-radius: 16px;
                box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;
            }

            .line {
                display: flex;
                justify-content: space-between;
                margin-top: 28px;

                &.one {
                    width: 100%;
                    display: block;
                    textarea {
                        padding: 10px 12px;
                        resize: none;
                        width: 100%;
                        background: #f6f6f6;
                        display: block;
                        border: none;
                        font-size: 1.3em;
                        box-sizing: border-box;
                        &:focus {
                            outline: none;
                        }
                    }
                }

                &.two {
                    label {
                        &:nth-child(1) {width: 78%;}
                        &:nth-child(2) {width: 20%;}
                        input {
                            background: #f6f6f6;
                            line-height: 30px;
                            font-size: 1em;
                            box-sizing: border-box;
                            padding: 0 5px
                        }
                    }
                }

                &.three {
                    label {
                        width: 100%;
                        .category-parent-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;
                            .item {
                                padding: 3px 5px;
                                background: #ebebeb;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;
                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }

                        .category-code-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;
                            padding: 3px 8px 10px 8px;
                            background-color: #ebebeb;
                            border-radius: 10px;
                            margin-top: 18px;
                            .item {
                                padding: 3px 5px;
                                background: #fff;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;
                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }
                    }
                }

                label {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}



.main-part {
    .sub-title {
        font-size: $big-title;
        margin-top: 40px;
    }
}