@import '../../variable.scss';



#moim-page {
    .title-wrap {
        display: flex;

        .title {
            width: 40%;
            background: #fff;
            border-radius: 20px;
            padding: 30px 40px;
            box-sizing: border-box;
            box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;

            h3 {
                font-size: 3em;
                font-weight: 600;
            }

            p {
                margin-top: 50px;
                font-size: 2em;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            width: 7%;
            padding: 0 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            font-size: 3em;
            transition: .1s;
            text-align: center;

            &:hover {

                box-shadow: 5px 5px 44px #ebebeb,
                    -5px -5px 44px #ffffff;
            }
        }

        margin: 80px 0 100px 0;
    }
}



#moim-add-page {
    .title-wrap {
        h3 {
            font-size: 3em;
            font-weight: 500;
        }
        margin-top: 30px;
    }

    form[name='moim-form'] {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        input {
            @include initial-input;
            border: none;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }

        .left{
            width: 40%;
            // background-color: rebeccapurple;
            .image-upload{
                .main-image {
                    position: relative;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 500px;
                        border-radius: 30px;
                        box-shadow: 5px 5px 44px #ebebeb,
                        -5px -5px 44px #ffffff;
                        color: rgb(54, 54, 54);
                    }
                    input[type='file'] {
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        cursor: pointer;
                        opacity: 0;
                    }
                }
            }
        }
        .right {
            width: 56%;
            input[name='title'] {
                padding: 10px 20px;
                background: #eeeeee;
                width: 100%;
                line-height: 30px;
                display: block;
                font-size: 1.3em;
                border-radius: 16px;
            }
        }
    }
}



.main-part {
    .sub-title {
        font-size: $big-title;
        margin-top: 40px;
    }
}