    & {
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;
        background-color: #f2f2f2;
        padding: 16px;
        box-sizing: border-box;
        border-radius: 16px;
        font-size: 16px;

        margin-top: 14px;

        .none {
            height: 120px;
            color: #8d8d8d;
            width: 100%;
            display: flex;
            font-size: 1.4em;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .item {
            width: 49%;
            cursor: pointer;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            background: #fff;
            border-radius: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // background: #08B46C;

            .left {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .thumbnail {
                    width: 10%;
                    overflow: hidden;
                    position: relative;
                    border-radius: 8px;

                    &::before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }

                    img {
                        height: 100%;
                        display: block;
                        overflow: hidden;
                        box-sizing: border-box;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }


                .exp {
                    width: 87%;

                    >p {
                        font-size: 1.2em;
                        font-weight: 500;
                    }

                    .sub-exp {
                        margin-top: 12px;

                        >span {
                            padding: 1px 6px;
                            border-radius: 6px;
                            margin-right: 5px;
                            font-size: .8em;
                        }

                        .person {
                            background: #FCF3F3;
                            color: #a48f8f;
                        }

                        .loc {
                            background: #FCE4C7;
                            color: #a4937d;
                        }

                        .cat {
                            background: #F4FCF4;
                            color: #828d82;
                        }

                        .tag {
                            background: #ededed;
                        }
                    }
                }
            }

            .right {
                width: 7%;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background-color: #F4BEC1;
                padding: 5px 0;

                // &::before {
                //     content: "";
                //     display: block;
                //     padding-top: 100%;
                // }

                svg {
                    display: block;
                    color: #A4686B;
                    font-size: 1.5em;
                    width: 100%;
                }

                span {
                    display: block;
                    font-size: .8em;
                    margin-top: 3px;
                    color: #A4686B;
                }
            }
        }

        .pagination-info {
            color: rgb(43, 43, 43);
            margin-top: 40px;
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;

            >div {
                position: relative;

                .prev,
                .next {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    cursor: pointer;
                    transition: .2s;
                    border-radius: 4px;
                    padding: 0 4px;

                    &:hover {
                        background: #999999;
                        color: #fff;
                    }

                    &.prev {
                        left: -40px;
                    }

                    &.next {
                        right: -40px;
                    }
                }

                .page-item {
                    font-size: 1.2em;
                    padding: 0 7px;
                    margin: 0 3px;
                    line-height: 150%;
                    border-radius: 4px;
                    cursor: pointer;

                    &.on {
                        cursor: auto;
                        background: #fff;
                        font-weight: 500;
                    }
                }
            }

        }
    }