@import '../../variable.scss';



#moim-page {
    .title-part {
        margin: 60px auto 70px auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .title-wrap {
            display: flex;
            width: 46%;

            .title {
                width: 100%;
                height: auto;
                background: #fff;
                border-radius: 20px;
                padding: 30px 40px;
                box-sizing: border-box;
                box-shadow: 5px 5px 44px #ebebeb,
                    -5px -5px 44px #ffffff;

                h3 {
                    font-size: 3em;
                    font-weight: 600;
                }

                p {
                    margin-top: 50px;
                    font-size: 2em;
                }
            }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 30px;
                width: 7%;
                padding: 0 25px;
                border-radius: 20px;
                position: relative;
                overflow: hidden;
                font-size: 3em;
                transition: .1s;
                text-align: center;

                &:hover {

                    box-shadow: 5px 5px 44px #ebebeb,
                        -5px -5px 44px #ffffff;
                }
            }
        }
    }
}



#moim-add-page {
    padding-bottom: 200px;

    .title-wrap {
        h3 {
            font-size: 3em;
            font-weight: 500;
        }

        margin-top: 30px;
    }

    form[name='moim-form'] {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;

        input {
            @include initial-input;
            border: none;
            box-sizing: border-box;

            &:focus {
                outline: none;
            }
        }


        p {
            font-size: 1.3em;
            margin-bottom: 10px;
        }


        >.left {
            width: 40%;

            // background-color: rebeccapurple;
            .image-upload {
                .main-image {
                    position: relative;

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 500px;
                        border-radius: 30px;
                        box-shadow: 5px 5px 44px #ebebeb,
                            -5px -5px 44px #ffffff;
                        color: rgb(54, 54, 54);
                        background-position: center;
                        background-size: auto 100%;
                        font-size: 5em;

                        &.on {
                            font-size: 0;
                        }
                    }

                    input[type='file'] {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        cursor: pointer;
                        opacity: 0;
                    }
                }

                @keyframes inputFadeIn {
                    0% {
                        width: 0%;
                        font-size: 0;
                    }

                    75% {
                        font-size: 0;
                    }

                    100% {
                        width: 100%;
                        font-size: 1em;
                    }
                }

                @keyframes inputFadeOut {
                    0% {
                        width: 100%;
                        font-size: 1em;
                    }

                    25% {
                        font-size: 0;
                    }

                    100% {
                        width: 0;
                        font-size: 0;
                    }
                }

                button {
                    @include initial-btn;

                    &.del-btn {
                        margin-top: 30px;
                        width: 0;
                        line-height: 40px;
                        font-size: 1em;
                        background: #E06923;
                        color: #fff;
                        border-radius: 10px;
                        position: relative;
                        z-index: 2;
                        animation: inputFadeIn .3s forwards;
                    }

                    &.fade-out {
                        animation: inputFadeOut .3s forwards;
                    }
                }
            }

            p {
                margin-top: 28px;
            }

            .loc-part {
                width: 100%;

                label[for='loc'] {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    input {
                        display: block;
                        width: 90%;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        line-height: 40px;
                        text-align: center;
                        padding: 0;
                    }

                    button {
                        width: 8%;
                        height: 40px;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        font-size: 1.1em;
                    }
                }

                #myMap {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px 10px 0 0;
                    margin-top: 10px;
                }

                .map-search-part {
                    background: #f6f6f6;
                    padding: 10px 14px;

                    label {
                        display: flex;

                        input {
                            width: 90%;
                            line-height: 40px;
                            font-size: 1em;
                            box-sizing: border-box;
                            padding: 0 12px;
                            background: #fff;
                        }

                        button {
                            width: 10%;
                            display: block;
                            background-color: #fff;
                            text-align: center;
                        }
                    }

                    .map-search-list {
                        margin-top: 10px;
                        max-height: 400px;
                        overflow-y: auto;
                        position: relative;

                        @keyframes mapListOn {
                            0% {
                                background: #fff;
                                color: #000;
                            }

                            50% {
                                background: #E06923;
                                color: #fff;
                            }

                            100% {
                                background: #fff;
                                color: #000;
                            }
                        }

                        .item {
                            padding: 10px 7px;
                            background-color: #fff;
                            border-radius: 10px;
                            ;
                            font-size: 1em;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 8px;
                            transition: .1s;
                            cursor: pointer;

                            &:nth-child(1) {
                                margin-top: 0;
                            }

                            &.on {
                                animation: mapListOn .6s;
                                animation-iteration-count: 3;
                            }

                            &.click {
                                background-color: #e1e1e1;
                                box-shadow: 5px 5px 23px #ededed,
                                    -5px -5px 23px #ffffff;
                            }

                            .left {
                                width: 28%;
                                font-size: 1.5em;
                                position: relative;

                                span {
                                    display: block;
                                    position: absolute;
                                    top: 49%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }

                            .right {
                                width: 70%;

                                .search-title {
                                    font-weight: 500;
                                }

                                .search-road-address {
                                    margin-top: 7px;
                                    font-weight: 300;
                                    font-size: .95em;
                                }

                                .search-jibun-address {
                                    display: block;
                                    margin-top: 7px;
                                    font-size: .8em;
                                    font-weight: 300;
                                    color: rgb(66, 66, 66);

                                    span {
                                        background-color: rgb(220, 220, 220);
                                        padding: 0 2px;
                                    }
                                }
                            }
                        }

                        .pagination-part {
                            margin-top: 20px;
                            font-size: 1em;
                            text-align: center;

                            span {
                                padding: 0 4px;
                                margin: 0 4px;
                                border-radius: 2px;
                                cursor: pointer;

                                &.on {
                                    background-color: #d5d5d5;
                                    cursor: auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        >.right {
            width: 56%;

            input[name='title'] {
                padding: 10px 20px;
                background: #fff;
                width: 100%;
                line-height: 30px;
                display: block;
                font-size: 1.3em;
                border-radius: 16px;
                box-shadow: 5px 5px 44px #ebebeb,
                    -5px -5px 44px #ffffff;
            }

            .line {
                display: flex;
                justify-content: space-between;
                margin-top: 28px;

                &.one {
                    width: 100%;
                    display: block;

                    textarea {
                        padding: 10px 12px;
                        resize: none;
                        width: 100%;
                        background: #f6f6f6;
                        display: block;
                        border: none;
                        font-size: 1.3em;
                        box-sizing: border-box;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                &.two {
                    label {
                        &:nth-child(1) {
                            width: 56%;
                        }

                        &:nth-child(2) {
                            width: 20%;
                        }

                        &:nth-child(3) {
                            width: 10%;
                        }

                        input {
                            background: #f6f6f6;
                            line-height: 30px;
                            font-size: 1em;
                            box-sizing: border-box;
                            padding: 0 5px
                        }

                        &[for='tag'] {
                            position: relative;
                            box-sizing: border-box;

                            >div {
                                background: #f6f6f6;
                                display: flex;
                                line-height: 30px;
                                padding-left: 5px;
                                box-sizing: border-box;

                                .left {
                                    .tag {
                                        background: #D77432;
                                        color: #fff;
                                        border-radius: 9px;
                                        padding: 1px 6px;
                                        margin-right: 4px;
                                        font-size: .9em;
                                        box-sizing: border-box;
                                        cursor: pointer;

                                        &:nth-child(1) {
                                            margin-left: 0;
                                        }
                                    }

                                    flex-grow: 0;
                                }

                                .right {
                                    position: relative;
                                    // width: 100%;
                                    box-sizing: border-box;
                                    flex-grow: 1;

                                    .tag-list-part {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        width: 100%;
                                        // height: 100%;
                                        z-index: 10;
                                        font-size: 0.8em;
                                        background: #fff;
                                        box-sizing: border-box;

                                        p {
                                            padding-left: 5px;
                                            cursor: pointer;

                                            &:hover {
                                                background-color: rgba(0, 0, 0, .2);
                                            }
                                        }
                                    }

                                    input {
                                        border: #e1e1e1;
                                    }
                                }

                            }
                        }


                        &[for='dues'],
                        &[for='personNumber'] {
                            >div {
                                display: flex;
                                align-items: center;

                                input {
                                    flex-grow: 1;
                                }

                                span {
                                    flex-grow: 1;
                                    margin-left: 5px;
                                }
                            }
                        }

                        &[for='personNumber'] {
                            input {
                                padding-right: 0;
                            }
                        }
                    }
                }

                &.three {
                    label {
                        width: 100%;

                        .category-parent-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;

                            .item {
                                padding: 3px 5px;
                                background: #ebebeb;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;

                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }

                        .category-code-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;
                            padding: 3px 8px 10px 8px;
                            background-color: #ebebeb;
                            border-radius: 10px;
                            margin-top: 18px;

                            .item {
                                padding: 3px 5px;
                                background: #fff;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;

                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }
                    }
                }

                label {
                    input {
                        width: 100%;
                    }
                }

            }

            .result-btn {
                @include initial-btn;
                width: 100%;
                line-height: 40px;
                font-size: 1.2em;
                border-radius: 12px;
                margin-top: 40px;
                transition: .2s;
                background: rgb(232, 232, 232);
                color: rgb(187, 187, 187);
                cursor: auto;

                &.on {
                    color: #fff;
                    background: #51CD9A;
                    cursor: pointer;
                }
            }
        }
    }
}



.main-part {
    .add-moim-part {
        width: 100%;
        margin-top: 40px;
        .moim-sub {
            display: flex;
            width: 100%;
            height: 100%;
            margin-top: 20px;

            >div {
                width: 24%;
                margin-left: 2%;
                border-radius: 16px;

                &:nth-child(1) {
                    margin-left: 0;
                }
            }

            .add-btn {
                text-align: center;
                font-size: 2em;
                transition: .3s;
                min-height: 438px;
                cursor: pointer;

                &:hover {
                    box-shadow: 5px 5px 44px #ebebeb,
                        -5px -5px 44px #ffffff;
                }

                a {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .btn-wrap {
            margin-top: 30px;
            button {
                @include initial-btn;
                margin-left: 10px;
                &:nth-child(1) {margin-left: 0;}
                padding: 5px 14px;
                font-size: 1.1em;
                border-radius: 12px;
            }
            .moim-edit-btn {
                background: #08B46C;
                color: #fff;
            }
            .moim-confirm-btn {
                background: #ededed;
                color: #333333;
            }
        }
    }


    .sub-title {
        font-size: $big-title;
        margin-top: 100px;
    }
}












#moim-item {
    cursor: pointer;
    transition: .2s;
    position: relative;
    top: 0;
    &:hover {
        top: -10px
    }
    .item {
        border-radius: 12px;
        box-sizing: border-box;
        box-shadow: 5px 5px 44px #ebebeb,
            -5px -5px 44px #ffffff;

        .image {
            width: 100%;
            height: 320px;
            overflow: hidden;
            position: relative;
            border-radius: 10px 10px 0 0;

            img {
                height: 100%;
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(-50%);
            }
        }

        .exp-part {
            padding: 16px 14px 18px 14px;
            font-size: 2em;
            .title {
                font-size: .6em;
                white-space : nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 140%;
                span {
                    text-overflow: ellipsis;
                }
            }

            .exp {
                font-size: .4em;
                margin-top: 12px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .left {
                    width: 80%;

                    .items {
                        display: flex;
                        flex-wrap: wrap;

                        span {
                            display: block;
                            padding: 2px 6px;
                            border-radius: 6px;
                            margin-right: 5px;
                            margin-top: 5px;

                            &.person-number {
                                background: #FCF3F3;
                                color: #a48f8f;
                            }

                            &.loc {
                                background: #FCE4C7;
                                color: #a4937d;
                            }

                            &.category {
                                background: #F4FCF4;
                                color: #828d82;
                            }
                        }
                    }

                    .tags {
                        margin-top: 12px;

                        span {
                            padding: 0 6px;
                            background: #ededed;
                            border-radius: 6px;
                        }
                    }
                }
                .right {
                    font-size: 1.7em;
                    text-align: center;
                    background: #f5bec1;
                    padding: 5px 6px;
                    margin-top: 5px;;
                    border-radius: 20px;
    
                    .like {
                        color: #A5676A;
                    }
    
                    p {
                        color: #A5676A;
                        font-size: .4em;
                        margin-top: .2em;
                    }
                }
            }

        }
    }
}



#view-page {
    color: rgb(36, 36, 36);
    > div {
        font-size: 1em;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        > .left {
            width: 40%;
            .img-box {
                position: relative;
                width: 100%;
                height: 500px;
                border-radius: 30px;
                overflow: hidden;
                box-shadow: 5px 5px 44px #ebebeb, -5px -5px 44px #ffffff;
                img {
                    position: absolute;
                    top:0%;
                    left: 50%;
                    height: 100%;
                    transform: translateX(-50%);
                }
            }
        }
        > .right {
            width: 56%;
            .title-sub {
                display: flex;
                justify-content: space-between;

                > .left {
                    width: 85%;
                    h3 {
                        font-size: 2em;
                    }
                    .sub-exp {
                        margin-top: 6px;
                        > div {
                            margin-top: 4px;
                            &:nth-child(1) {margin-top: 0;}
                            .box {
                                display: inline-block;
                                border-radius: 6px;
                                padding: 2px 5px;
                            }
                            .tags {
                                margin-top: 10px;
                                background: #ededed;
                            }
                        }
        
                        .sub-wrap {
                            > div {
                                margin-left:5px;
                                &:nth-child(1) {margin-left: 0;}
                            }
                            .loc {
                                svg {
                                    font-size: .9em;
                                }
                                background: #FCE4C7;
                                color: #a4937d;
                            }
        
                            .category {
                                background: #F4FCF4;
                                color: #828d82;
                            }
        
                            .person-number {
                                background: #FCF3F3;
                                color: #a48f8f;
                            }
                        }
                    }
                }
                > .right {
                    width: 10%;
                    .like-btn {
                        cursor: pointer;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        height: 100%;
                        font-size: 2.4em;
                        text-align: center;
                        background: #f5bec1;
                        border-radius: 20px;
        
                        .like {
                            color: #A5676A;
                            width: 100%;
                        }
        
                        p {
                            width: 100%;
                            color: #A5676A;
                            font-size: .4em;
                            margin-top: .2em;
                        }
                    }
                }
                

            }
            
            .content { 
                margin-top: 30px;
                white-space: pre-wrap;
                font-size: 1.2em;
            }

            .membership-button-wrap {
                margin-top: 50px;
                button {
                    @include initial-btn;
                    background: #fff;
                    padding: 3px 20px;
                    font-size: 1.2em;
                    transition: .2s;
                    border-radius: 10px;
                    line-height: 30px;
                    box-shadow:  5px 5px 31px #f0f0f0,
                        -5px -5px 31px #ffffff;
                    &:hover {
                        background: #51CD9A;
                        color: #fff;
                    }
                }
            }
        }
    }
}