@import '../../variable.scss';



#moim-page {
    .title-wrap {
        display: flex;

        .title {
            width: 40%;
            background: #fff;
            border-radius: 20px;
            padding: 30px 40px;
            box-sizing: border-box;
            box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;

            h3 {
                font-size: 3em;
                font-weight: 600;
            }

            p {
                margin-top: 50px;
                font-size: 2em;
            }
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 30px;
            width: 7%;
            padding: 0 0;
            border-radius: 20px;
            position: relative;
            overflow: hidden;
            font-size: 3em;
            transition: .1s;
            text-align: center;

            &:hover {

                box-shadow: 5px 5px 44px #ebebeb,
                    -5px -5px 44px #ffffff;
            }
        }

        margin: 80px 0 100px 0;
    }
}



#moim-add-page {
    height: 2000px;
    .title-wrap {
        h3 {
            font-size: 3em;
            font-weight: 500;
        }
        margin-top: 30px;
    }

    form[name='moim-form'] {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        input {
            @include initial-input;
            border: none;
            box-sizing: border-box;
            &:focus {
                outline: none;
            }
        }


        p {
            font-size: 1.3em;
            margin-bottom: 10px;
        }


        > .left{
            width: 40%;
            // background-color: rebeccapurple;
            .image-upload{
                .main-image {
                    position: relative;
                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        width: 100%;
                        height: 500px;
                        border-radius: 30px;
                        box-shadow: 5px 5px 44px #ebebeb,
                        -5px -5px 44px #ffffff;
                        color: rgb(54, 54, 54);
                        background-position: center;
                        background-size: auto 100%;
                        font-size: 5em;
                        &.on {font-size: 0;}
                    }
                    input[type='file'] {
                        position: absolute;
                        top:0;
                        left:0;
                        width: 100%;
                        height: 100%;
                        display: block;
                        cursor: pointer;
                        opacity: 0;
                    }
                }

                @keyframes inputFadeIn {
                    0% {
                        width: 0%;
                        font-size: 0;
                    }

                    75% {
                        font-size: 0;
                    }

                    100% {
                        width: 100%;
                        font-size: 1em;
                    }
                }
                @keyframes inputFadeOut {
                    0% {
                        width: 100%;
                        font-size: 1em;
                    }

                    25% {
                        font-size: 0;
                    }

                    100% {
                        width: 0;
                        font-size: 0;
                    }
                }

                button {
                    @include initial-btn;
                    &.del-btn {
                        margin-top: 30px;
                        width: 0;
                        line-height: 40px;
                        font-size: 1em;
                        background: #E06923;
                        color: #fff;
                        border-radius: 10px;
                        position: relative;
                        z-index: 2;
                        animation: inputFadeIn .3s forwards;
                    }

                    &.fade-out {
                        animation: inputFadeOut .3s forwards;
                    }
                }
            }

            p{
                margin-top: 28px;
            }

            .loc-part {
                width: 100%;
                label[for='loc'] {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    input {
                        display: block;
                        width: 90%;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        line-height: 40px;
                        text-align: center;
                        padding: 0;
                    }
                    button {
                        width: 8%;
                        height: 40px;
                        background-color: #f6f6f6;
                        border-radius: 10px;
                        font-size: 1.1em;
                    }
                }

                #myMap {
                    width: 100%;
                    height: 400px;
                    border-radius: 10px 10px 0 0;
                    margin-top: 10px;
                }

                .map-search-part {
                    background: #f6f6f6;
                    padding: 10px 14px;
                    label {
                        display: flex;
                        input {
                            width: 90%;
                            line-height: 40px;
                            font-size: 1em;
                            box-sizing: border-box;
                            padding: 0 12px;
                            background: #fff;
                        }
                        button {
                            width: 10%;
                            display: block;
                            background-color: #fff;
                            text-align: center;
                        }
                    }

                    .map-search-list {
                        margin-top: 10px;
                        max-height: 400px;
                        overflow-y: auto;
                        position: relative;

                        @keyframes mapListOn {
                            0% {
                                background: #fff;
                                color: #000;
                            }
                            50% {
                                background: #E06923;
                                color: #fff;
                            }
                            100% {
                                background: #fff;
                                color: #000;
                            }
                        }

                        .item {
                            padding: 10px 7px;
                            background-color: #fff;
                            border-radius: 10px;;
                            font-size: 1em;
                            display: flex;
                            justify-content: space-between;
                            margin-top: 8px;
                            transition: .1s;
                            cursor: pointer;
                            &:nth-child(1) {margin-top: 0;}
                            &.on {
                                animation: mapListOn .6s;
                                animation-iteration-count: 3;
                            }
                            &.click {
                                background-color: #e1e1e1;
                                box-shadow:  5px 5px 23px #ededed,
                                    -5px -5px 23px #ffffff;
                            }
                            .left{
                                width: 28%;
                                font-size: 1.5em;
                                position: relative;
                                span {
                                    display: block;
                                    position: absolute;
                                    top: 49%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                }
                            }
                            .right{
                                width: 70%;
                                .search-title {font-weight: 500;}
                                .search-road-address {
                                    margin-top: 7px;
                                    font-weight: 300;
                                    font-size: .95em;
                                } 
                                .search-jibun-address {
                                    display: block;
                                    margin-top: 7px;
                                    font-size: .8em;
                                    font-weight: 300;
                                    color: rgb(66, 66, 66);
                                    span {
                                        background-color: rgb(220, 220, 220);
                                        padding: 0 2px;
                                    }
                                }
                            }
                        }

                        .pagination-part {
                            margin-top: 20px;
                            font-size: 1em;
                            text-align: center;
                            span{
                                padding: 0 4px;
                                margin: 0 4px;
                                border-radius: 2px;
                                cursor: pointer;
                                &.on {
                                    background-color: #d5d5d5;
                                    cursor: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        > .right {
            width: 56%;
            input[name='title'] {
                padding: 10px 20px;
                background: #fff;
                width: 100%;
                line-height: 30px;
                display: block;
                font-size: 1.3em;
                border-radius: 16px;
                box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;
            }

            .line {
                display: flex;
                justify-content: space-between;
                margin-top: 28px;

                &.one {
                    width: 100%;
                    display: block;
                    textarea {
                        padding: 10px 12px;
                        resize: none;
                        width: 100%;
                        background: #f6f6f6;
                        display: block;
                        border: none;
                        font-size: 1.3em;
                        box-sizing: border-box;
                        &:focus {
                            outline: none;
                        }
                    }
                }

                &.two {
                    label {
                        &:nth-child(1) {width: 78%;}
                        &:nth-child(2) {width: 20%;}
                        input {
                            background: #f6f6f6;
                            line-height: 30px;
                            font-size: 1em;
                            box-sizing: border-box;
                            padding: 0 5px
                        }

                        &[for='tag'] {
                            position: relative;
                            box-sizing: border-box;
                            > div {
                                background: #f6f6f6;
                                display: flex;
                                line-height: 30px;
                                padding-left: 5px;
                                box-sizing: border-box;
                                .left{
                                    .tag {
                                        background: #D77432;
                                        color: #fff;
                                        border-radius: 9px;
                                        padding: 1px 6px;
                                        margin-right: 4px;
                                        font-size: .9em;
                                        box-sizing: border-box;
                                        cursor: pointer;
                                        &:nth-child(1) {margin-left: 0;}
                                    }
                                    flex-grow: 0;
                                }

                                .right {
                                    position: relative; 
                                    // width: 100%;
                                    box-sizing: border-box;
                                    flex-grow: 1;
                                    .tag-list-part {
                                        position: absolute;
                                        top: 100%;
                                        left: 0;
                                        width: 100%;
                                        // height: 100%;
                                        z-index: 10;
                                        font-size: 0.8em;
                                        background: #fff;
                                        box-sizing: border-box;
                                        p{
                                            padding-left: 5px;
                                            cursor: pointer;
                                            &:hover {background-color: rgba(0,0,0,.2);}
                                        }
                                    }

                                    input {
                                        border: #e1e1e1;
                                    }
                                }

                            }
                        }
                    }
                }

                &.three {
                    label {
                        width: 100%;
                        .category-parent-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;
                            .item {
                                padding: 3px 5px;
                                background: #ebebeb;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;
                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }

                        .category-code-items {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            position: relative;
                            top: -7px;
                            padding: 3px 8px 10px 8px;
                            background-color: #ebebeb;
                            border-radius: 10px;
                            margin-top: 18px;
                            .item {
                                padding: 3px 5px;
                                background: #fff;
                                margin-right: 5px;
                                margin-top: 7px;
                                border-radius: 4px;
                                cursor: pointer;
                                &.on {
                                    background: #b0b0b0;
                                }
                            }
                        }
                    }
                }

                label {
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}



.main-part {
    .sub-title {
        font-size: $big-title;
        margin-top: 40px;
    }
}