@import '../variable.scss';

& {
    margin-top: 20px;
    font-size: 16px;
    color: rgb(40, 40, 40);
    button {
        @include initial-btn;
    }

    .info-part {
        display: flex;
        justify-content: space-between;

        .profile-img-info {
            width: 35%;
            position: relative;
            .profile-img {
                width: 100%;
                position: relative;
                border: 8px solid #fff;
                box-sizing: border-box;
                border-radius: 100%;
                box-shadow:  26px 26px 53px #f5f5f5,
                    -26px -26px 53px #ffffff;
                overflow: hidden;

                &::before{
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                img {
                    width: 100%;
                    overflow: hidden;
                    display: block;
	                -webkit-user-drag: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            
            .edit-button {
                position: absolute;
                width: 80%;
                border-radius: 8px;
                font-size: 1.2em;
                padding: 7px 0;
                background: #fff;
                bottom: -14px;
                left: 50%;
                text-align: center;
                transform: translateX(-50%);
                box-shadow:  5px 5px 25px rgba(0, 0, 0, 0.011),
                    -5px -5px 25px rgba(0, 0, 0, 0.011);
                cursor: pointer;
                transition: background-color .2s;

                &:hover{
                    background: rgb(240, 240, 240);
                }

                &:active{
                    background: rgb(228, 228, 228);
                }


                input {
                    width: 100%;
                    height: 100%;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                }
            }
        }


        .exp-info {
            width: 56%;
            box-sizing: border-box;
            padding-top: 20px;
            .b1 {
                font-size: 1.7em;
                font-weight: 500;
            }
            .mt {
                margin-top: 30px;
            }
            .line {
                margin-top: 15px;
            }


            p.sub {
                font-size: 1.2em;
                color: #515151;
            }
            .null {
                color: #9e9e9e;
            }
            .userid {
                font-size: .8em;
                color: #515151;
            }
            .con {
                display: block;
                margin-top: 7px;
            }

            .edit-password {

                button {
                    padding: 10px 30px;
                    font-size: 1.2em;
                    display: block;
                    width: max-content;
                    border-radius: 12px;
                    box-shadow:  5px 5px 16px #e3e3e3,
                        -5px -5px 16px #ffffff;
                    line-height: 110%;
                }
            }
        }
    }


    .part {
        margin-top: 100px;
        h2 {
            font-size: 2em;
        }
    }
}