@import '../variable.scss';

/* input 기본 스타일 초기화 */
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;

    &:focus {
        outline: none
    }

    &::-ms-clear {
        display: none;
    }

    &[type='number'] {

        &::-webkit-outer-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
}

/* Select box 스타일 초기화 */
select {
    border: none;
    padding: 0;

    &:focus {
        outline: none;
    }

    &::-ms-expand {
        display: none;
    }
}

button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
}

.board-list-component {
    width: 100%;
    font-size: 16px;

    .top {
        display: flex;
        justify-content: space-between;

        .add-btn {
            cursor: pointer;
            width: 8%;
            border-radius: 20px;
            background-color: #F4AC64;
            box-shadow: 0 0 3rem 0 rgba(43, 86, 112, .1);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 3em;
            position: relative;
            top: 0;
            transition: .2s;

            &:hover {
                top: -10px;
            }

        }

        .title-wrap {
            width: 60%;
            padding: 20px;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 0 3rem 0 rgba(43, 86, 112, .1);
            position: relative;
            z-index: 12;
    
            .title {
                font-size: 2.4em;
                font-weight: 500;
            }
    
            
    
            .search-part {
                width: 100%;
                display: flex;
                justify-content: space-between;
                background: #f8f8f8;
                margin-top: 30px;
                padding: 6px;
                box-sizing: border-box;
                border-radius: 12px;
            
                h2 {
                    font-size: 1.6em;
                    display: flex;
                    align-items: center;
                }
    
                form {
                    display: flex;
                    width: 60%;
                    justify-content: space-between;
                }
    
                input,
                select,
                button {
                    display: block;
                    background: none;
                    font-size: 1.1em;
                }
                select {
                    width: 20%;
                }
    
                input {
                    width: 75%;
                }
    
                button {
                    width: 7%;
                }
            }
        }
    }

    .list-part {
        width: 100%;
        margin-top: 40px;
        border-radius: 20px;
        background: #fff;
        position: relative;
        z-index: 11;
        transition: .2s;

        form>div {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            font-size: 1.2em;

            button {
                font-size: 1em;
            }

            .list-col-1 {
                width: 6%;
            }

            .list-col-2 {
                width: 35%;
            }

            .list-col-3 {
                width: 20%;
            }

            .list-col-4 {
                width: 15%;
            }

            .list-col-5 {
                width: 15%;
            }

            &:last-child {
                border: none;
            }
        }

        .list-title {
            color: #505867;
            border-bottom: 1px solid #d9d9d9;
            font-size: 1.3em;
            padding: 15px 20px;
        }

        .list-line {
            padding: 15px 20px;
            border-bottom: 1px solid #f1f1f1;
            transition: .1s;

            &:hover {
                background: rgba(0, 0, 0, 0.01);
            }

            .list-col-2 {
                text-align: left;
            }
        }
    }
}