@import url("../variable.scss");

@keyframes fadeIn{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes fadeOut{
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // opacity: 0;
    // animation: fadeIn .3s forwards;
    z-index: -1;
    cursor: pointer;
}


.login {
    .title {
        font-size: 3em;
        text-align: center;
    }

    .login-input {
        input {
            display: block;
            width: 100%;
            border: 1.2px solid rgb(112, 112, 112);
            line-height: 30px;
            font-size: 1em;
            margin-top: 6px;
            padding: 5px 10px;
            box-sizing: border-box;
            -webkit-appearance : none;
            -moz-appearance:none;
            appearance:none;

            &:focus {
                border: 1.2px solid rgb(0, 0, 0);
                outline: none;
            }
        }
    }

    .login-sub {
        label {
            display: flex;
            font-size: .7em;
            align-items: center;
            float: left;

            input[type="checkbox"] {
                display: block;
                margin: 0;
            }
            p {
                margin-left: 5px;
            }
        }

        .account{
            float: right;
            font-size: .7em;
        }
    }

    .login-btn {
        display: flex;
        justify-content: space-between;
        button, a{
            background: inherit; 
            border:none; 
            box-shadow:none; 
            border-radius:0; 
            padding:0; 
            overflow:visible; 
            cursor:pointer;
            width: 49%;
            font-size: 1.2em;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        button {
            background: #000;
            color: #fff;
        }
        a {
            background-color: rgb(238, 238, 238);
        }
    }
}

.error {

}

.popup {
    width: 400px;
    background: #fff;
    box-shadow:  39px 39px 78px #d9d9d9,
                -39px -39px 78px #ffffff;
    // opacity: .7;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;
}