@import "../variable.scss";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


.modal-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // opacity: 0;
    // animation: fadeIn .3s forwards;
    z-index: -1;
    cursor: pointer;
}


.login {
    .login-input {
        input {
            display: block;
            width: 100%;
            border: 1.2px solid rgb(112, 112, 112);
            line-height: 30px;
            font-size: 1em;
            margin-top: 6px;
            padding: 5px 10px;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            &:focus {
                border: 1.2px solid rgb(0, 0, 0);
                outline: none;
            }
        }
    }

    .login-sub {
        label {
            display: flex;
            font-size: .7em;
            align-items: center;
            float: left;

            input[type="checkbox"] {
                display: block;
                margin: 0;
            }

            p {
                margin-left: 5px;
            }
        }

        .account {
            float: right;
            font-size: .7em;
        }
    }

    .login-btn {
        display: flex;
        justify-content: space-between;

        button,
        a {
            background: inherit;
            border: none;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
            overflow: visible;
            cursor: pointer;
            width: 49%;
            font-size: 1.2em;
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        button {
            background: #000;
            color: #fff;
        }

        a {
            background-color: rgb(238, 238, 238);
        }
    }
}

.error {}

.popup,
.moim-sub-list {
    background: #fff;
    color: rgb(56, 56, 56);
    box-shadow: 39px 39px 78px #00000013,
        -39px -39px 78px #00000013;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    padding: 20px;

    .title {
        font-size: 2.5em;
        font-weight: 500;
        text-align: center;
    }
}

.popup {
    width: 400px;
    // opacity: .7;
}


.moim-sub-list {
    width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    background-color: #f6f6f6;

    .list {
        margin-top: 30px;
        > div{
            margin-top: 10px;
            &:nth-child(1) {margin-top: 0;}
        }

        .empty-box {
            font-size: 1.6em;
            text-align: center;
        }

        .moim-box {
            background-color: #fff;
            padding: 15px 10px;
            border-radius: 16px;
            > p{
                font-size: 1.4em;
                font-weight: 500;
            }
            .sub-list {
                margin-top: 10px;
                .item {
                    display: flex;
                    justify-content: space-between;
                    padding: 5px;
                    border-radius: 12px;
                    cursor: pointer;
                    position: relative;
                    overflow: hidden;
                    margin-top: 5px;

                    .cover {
                        background-color: #000;
                        width: 110%;
                        height: 110%;
                        position: absolute;
                        top:-5%;
                        left:-5%;
                        opacity: 0;
                        transition: .1s;
                    }
                    .on-cover {
                        background-color: #51CD9A;
                        width: 110%;
                        height: 110%;
                        position: absolute;
                        top:-5%;
                        left:-5%;
                        opacity: 0;
                        transition: .1s;

                    }

                    &:hover {
                        .cover {
                            opacity: 0.04;
                        }
                    }
                    &:active {
                        .cover {
                            opacity: 0.07;
                        }
                    }

                    &.on {
                        .on-cover {
                            opacity: .3;
                        }
                    }

                    // border-bottom: 1px solid rgb(193, 193, 193);
                    .profile-image{
                        width: 10%;
                        box-sizing: border-box;
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        img {
                            display: block;
                            width: 70%;
                            overflow: hidden;
                            border-radius: 30%;
                            &:before {
                                content: "";
                                display: block;
                                padding-top: 100%;
                            }
                        }
                    }
                    .exp {
                        width: 86%;
                        display: flex;
                        align-items: center;
                        > div {
                            margin-left: 5%;
                            &:nth-child(1) {margin-left: 0;}
                        }
                    }

                    .check {
                        display: flex;
                        align-items: center;
                        font-size: 1.4em;
                        padding: 0 2%;
                    }
                }
            }
            .line {
                width: 98%;
                margin: 12px auto 20px auto;
                background: rgb(234, 234, 234);
                height: 1px;
            }
            .btn-box {
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    @include initial-btn;
                    display: block;
                    padding: 5px 30px;
                    color:rgb(255, 255, 255);
                    font-size: .8em;
                    line-height: 110%;
                    &:nth-child(1) {
                        border-radius: 7px 0 0 7px;
                        background: #51CD9A;
                    }
                    &:nth-child(2) {
                        border-radius: 0 7px 7px 0;
                        background: #D22946;
                    }
                }
            }
        }
    }
}




.board-add{
    width: 800px;
    font-size: 16px;

    label {
        margin-top: 18px;
        display: block;

        p {
            font-size: 1.4em;
            font-weight: 500;
        }
        input {
            padding: 5px;
            box-sizing: border-box;
        }

        input, textarea {
            margin-top: 10px;
            font-size: 1.2em;
            background: #f7f7f7;
            display: block;
            width: 100%;
        }

        textarea {
            height: 200px;
            resize: none;
            border: none;
            &:focus {
                outline: none;
            }
        }
    }

    input[type='file'] {
        display: block;
        margin-top: 10px;
    }

    button {
        width: 100%;
        display: block;
        margin-top: 30px;
        line-height: 50px;
        font-size: 1.3em;
        background: #fdc076;
        border-radius: 12px;
        color: #fff;
        &:hover {
            background-color: #F6951B;
        }
    }
}