@import '../variable.scss';

#header-wrap {
    margin: 0 auto;
    width: $device-xl-width;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    .logo{
        text-align: center;
        
        @include small-pc {
                
        }
        @include table {

        }
        @include mobile {

        }
        height: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;

        a {
            display: block;
            height: 80%;
            img {
                display: block;
                height: 100%;
                line-height: 100px;
            }
        }
    }


    .menu, .account {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu {
        left: 0;

        .menu-btn {
            display: flex;
            cursor: pointer;
            font-size: 1.7em;
            align-items: center;
            .menu-btn-icon {
                @include menu-icon(20);
            }

            span {
                margin-left: 10px;
                color: rgba(0, 0, 0, 0.7);
                transform: scale(70%);
                display: block;
            }
        }
    }


    .account {
        right: 0;
        font-size: 1.7em;
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
            font-size: calc(20px * 1.14);
            display: block;
        }
        span {
            transform: scale(70%);
            margin-right:10px;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

