.page-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    
    .title-box {
        width: 30%;
        background: rgb(216,235,252);
        background: linear-gradient(21deg, rgba(216,235,252,1) 0%, rgba(227,214,252,1) 50%, rgba(187,209,233,1) 100%);
        border-radius: 20px;
        // box-shadow:  20px 20px 60px #a5b2c9,
        //         -20px -20px 60px #dff0ff;
        box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
    }

    .signup-box {
        width: 60%;
        .title {
            font-size: 2.4em;
            font-weight: 600;
            color: rgb(68, 68, 68);
        }

        .input-box {
            display: flex;
            flex-wrap: wrap;
            label {
                display: block;
                width: 48%;
                margin-left: 2%;
                margin-top: 30px;
                &:nth-child(2n+1) {margin-left: 0;}
                &[for='userId'], &[for='email'] {
                    .button-input-box {
                        display: flex;
                        justify-content: space-between;
                        input:nth-child(1) {width: 68%;}
                        input:nth-child(2) {
                            width: 30%;
                            background: rgb(227, 227, 227);
                            color: rgb(86, 86, 86);
                            &:focus{background-color: rgb(227, 227, 227);}
                            &:active{background-color: rgb(200, 200, 200);}
                        }
                    }
                    .res-msg {
                        display: block;
                        margin-top: 5px;
                        font-size: 0.8em;
                        &.success {color:#84DC05;}
                        &.fail {color: #EC2424;}
                    }
                }

                p {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    span {
                        font-size: .7em;
                        display: block;
                        margin: {
                            top: 5px;
                            left: 1px;
                        };
                        color: rgb(100, 100, 100);
                        line-height: 1.4;
                    }
                }
                input {
                    display: block;
                    width: 100%;
                    border: 0;
                    background-color: rgb(245, 245, 245);
                    border-radius: 8px;
                    line-height: 30px;
                    font-size: 1em;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    -webkit-appearance : none;
                    -moz-appearance:none;
                    appearance:none;
    
                    &:focus {
                        border: 0;
                        background-color: rgb(240, 240, 240);
                        outline: none;
                    }
                    &[name='passwordChk'] {
                        margin-top: 6px;
                    }
                }
 
                select {
                    -webkit-appearance : none;
                    -moz-appearance:none;
                    appearance:none;
                    display: block;
                    width: 100%;
                    border: 0;
                    border-radius: 8px;
                    line-height: 30px;
                    font-size: 1em;
                    padding: 5px 10px;
                    background: rgb(245, 245, 245) url("../../../images/caret-down-solid.svg") no-repeat 97% 50%;
                    background-size: 2%;

                    &:focus {
                        border: 0;
                        background-color: rgb(240, 240, 240);
                        outline: none;
                    }
                }
            }


            #phoneNumber {
                display: flex;
                justify-content: space-between;
                align-items: center;
                #phoneNumber1, #phoneNumber2, #phoneNumber3 {
                    width: 30%;
                }
                #phoneNumber1 {
                    background-size: 10%;
                    background-position: 90% 50%;
                }
            }
        }
        
    }
}