.page-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    transition: .4s;
    
    .title-box {
        width: 30%;
        background: rgb(216,235,252);
        background: linear-gradient(21deg, rgba(216,235,252,1) 0%, rgba(227,214,252,1) 50%, rgba(187,209,233,1) 100%);
        border-radius: 20px;
        // box-shadow:  20px 20px 60px #a5b2c9,
        //         -20px -20px 60px #dff0ff;
        box-shadow:  20px 20px 60px #d9d9d9,
                -20px -20px 60px #ffffff;
        transition: .4s;
    }

    .signup-box {
        width: 60%;

        input[type=submit] {
            position: relative;
            display: block;
            -webkit-appearance : none;
            -moz-appearance:none;
            appearance:none;
            border: none;
            line-height: 30px;
            padding: 5px 10px;
            border-radius: 10px;
            background-color: #fff;
            color: #000;
            font-size: 1em;
            cursor: pointer;
            box-shadow:  5px 5px 18px #f0f0f0,
                -5px -5px 18px #ffffff;
            top:0;
            transition: 0.2s;

            @keyframes hoverUp {
                0% {top:0}
                100% {top:-1%}
            }
            &.step-1 {
                width: 48%;
            }
            &.step-2 {
                width: 100%;
            }

            &:hover {
                top: -.5%;
            }
        }

        .title {
            font-size: 2.4em;
            font-weight: 600;
            color: rgb(68, 68, 68);
        }

        .input-box {
            display: flex;
            flex-wrap: wrap;
            label {
                display: block;
                width: 48%;
                margin-left: 2%;
                margin-top: 30px;
                &:nth-child(2n+1) {margin-left: 0;}
                &[for='userId'], &[for='email'], &[for='password'] {
                    .button-input-box {
                        display: flex;
                        justify-content: space-between;
                        input:nth-child(1) {width: 68%;}
                        input:nth-child(2) {
                            width: 30%;
                            background: rgb(227, 227, 227);
                            color: rgb(86, 86, 86);
                            &:focus{background-color: rgb(227, 227, 227);}
                            &:active{background-color: rgb(200, 200, 200);}
                        }
                    }
                    .res-msg {
                        display: block;
                        margin-top: 5px;
                        font-size: 0.8em;
                        &.success {color:#84DC05;}
                        &.fail {color: #EC2424;}
                    }
                }

                p {
                    font-size: 1.2em;
                    margin-bottom: 10px;
                    span {
                        font-size: .7em;
                        display: block;
                        margin: {
                            top: 5px;
                            left: 1px;
                        };
                        color: rgb(100, 100, 100);
                        line-height: 1.4;
                    }
                }
                input {
                    display: block;
                    width: 100%;
                    border: 0;
                    background-color: rgb(245, 245, 245);
                    border-radius: 8px;
                    line-height: 30px;
                    font-size: 1em;
                    padding: 5px 10px;
                    box-sizing: border-box;
                    -webkit-appearance : none;
                    -moz-appearance:none;
                    appearance:none;
    
                    &:focus {
                        border: 0;
                        background-color: rgb(240, 240, 240);
                        outline: none;
                    }
                    &[name='passwordChk'] {
                        margin-top: 6px;
                    }
                }
 
                select {
                    -webkit-appearance : none;
                    -moz-appearance:none;
                    appearance:none;
                    display: block;
                    width: 100%;
                    border: 0;
                    border-radius: 8px;
                    line-height: 30px;
                    font-size: 1em;
                    padding: 5px 10px;
                    background: rgb(245, 245, 245) url("../../../images/caret-down-solid.svg") no-repeat 97% 50%;
                    background-size: 2%;

                    &:focus {
                        border: 0;
                        background-color: rgb(240, 240, 240);
                        outline: none;
                    }
                }
            }


            #phoneNumber {
                display: flex;
                justify-content: space-between;
                align-items: center;
                #phoneNumber1, #phoneNumber2, #phoneNumber3 {
                    width: 30%;
                }
                #phoneNumber1 {
                    background-size: 10%;
                    background-position: 90% 50%;
                }
            }
        }
        
        .interest-part {
            .slick-slider {
                width: calc(100% + 20px);
                // height: 270px;
                margin-left: -10px;
                // overflow: hidden;

                .slick-list {
                    margin-top: 20px;
                    overflow-y: initial;
                    overflow-x: clip;
                    .slick-track {
                        .slick-slide {
                            .item {
                                padding: 0 10px;
                                .title-img {
                                    // width: 100%;
                                    height: 240px;
                                    border-radius: 20px;
                                    // background-color: #d9d9d9;
                                    // padding: 20px 40px;
                                    cursor: pointer;
                                    position: relative;
                                    .click-part{
                                        width: 100%;
                                        height: 100%;
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        svg {
                                            color: #000;
                                            opacity: 0.6;
                                            position: absolute;
                                            right: 10px;
                                            top: 10px;
                                            font-size: 1.4em;
                                        }
                                        
                                        z-index: 2;
                                    }
                                    overflow: hidden;
                                    img{ 
                                        position: absolute;
                                        height: 120%;
                                        transform: translate(-50%, -50%);
                                        left: 50%;
                                        top: 50%;
                                        z-index: 1;
                                        opacity: .5;
                                    }
                                }
                                &.current {
                                    .title-img {
                                        box-shadow:  5px 5px 7px #ebebeb,
                                            -5px -5px 7px #ebebeb;
                                        .click-part{
                                            svg{color:#fff;}
                                        }

                                        img{
                                            opacity: 1;
                                        }
                                    }
                                }
                                &.on {
                                    .title-img {
                                        .click-part{
                                            svg{color:#fff;}
                                        }
                                        img{
                                            opacity: .85;
                                        }
                                    }
                                }

                                .cat-title {
                                    margin-top: 10px;
                                    display: block;
                                    text-align: center;
                                    font-size: 1.2em;
                                    // padding: 20px 40px;
                                }
                            }
                        }
                    }
                }

                .slick-prev:before, .slick-next:before {
                    color: #000;
                }

                .slick-dots {
                    position:static;
                    margin-top: 10px;
                }
            }
            

            // .main-slide-wrap {
            //     width: 100%;
            //     margin-top: 30px;
            //     overflow-x:auto;
            //     overflow-y: hidden;
            //     .main-cat {
            //         .item {
            //             width: 200px;
            //             float: left;
            //             padding-left: 30px;
    
            //             &:nth-child(1) {
            //                 padding-left: 0;
            //             }
            //             .title-img {
            //                 width: 100%;
            //                 height: 300px;
            //                 border-radius: 20px;
            //                 background-color: #d9d9d9;
                            
            //             }
            //             .cat-title {
            //                 margin-top: 10px;
            //                 display: block;
            //                 text-align: center;
            //                 font-size: 1.2em;
            //             }
            //         }
            //     }
            // }

            .sub-cat {
                .title {
                    margin-top: 40px;
                    font-size: 1.4em;
                }
                .keyword-part{ 
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    width: calc(100% + 12px);
                    margin-left: -6px;
                    .item{
                        display: block;
                        padding: 3px 6px;
                        margin: 3px 6px;
                        background: #eaeaea;
                        border-radius: 5px;
                        cursor: pointer;

                        // &:nth-child(1) {
                        //     margin-left:0;
                        // }
                    }
                }
            }
        }
    }



}