@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color:#000;
    text-decoration: none;
    &:active {color: #000}
}


@import './variable.scss';




@keyframes fadeIn{
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
@keyframes fadeOut{
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}



@at-root body {
    font-family: 'Noto Sans KR', sans-serif;
}


.mt_xl {margin-top: 40px;}
.mt_lg {margin-top: 34px;}
.mt_md {margin-top: 26px;}
.mt_sm {margin-top: 18px;}



header {
    @include small-pc {
        width: $device-lg-width;
    }
    @import url(./header/header.scss);
}

.modal-wrap {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
    height: 100%;
    z-index: 999;
	animation: fadeIn .3s forwards;
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &.fade-out {
        opacity: 0;
        animation: fadeOut .3s forwards;
    }

	@import url(./modal/modal.scss);
}