@import './variable.scss';

#header-wrap {
    position: relative;

    .logo{
        text-align: center;
        height: 100px;
        @include small-pc {

        }
        @include table {

        }
        @include mobile {

        }
        width: 140px;
        margin: 0 auto;

        a {
            display: block;
            height: 100%;
            img {
                display: block;
                height: 100%;
                line-height: 100px;
            }
            background: #000;
        }
    }


    .menu, .account {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu {
        left: 0;

        .menu-btn {
            display: flex;
            cursor: pointer;
            font-size: 1.7em;
            align-items: center;
            .menu-btn-icon {
                @include menu-icon(20);
            }

            span {
                margin-left: 10px;
                color: rgba(0, 0, 0, 0.7);
                transform: scale(70%);
                display: block;
            }
        }
    }


    .account {
        right: 0;
        width: 20px;
        svg {
            font-size: calc(20px * 1.14);
            display: block;
    
        }
    }
}

