@import '../variable.scss';


#chatt-page {
    font-size: 1em;

    .main-part {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;


        .member-list {
            width: 38%;

            .title {
                font-size: 2em;
                font-weight: 500;
            }

            .member {
                margin-top: 25px;
            }

            .item {
                display: flex;
                justify-content: space-between;
                margin-top: 10px;

                &:hover {}

                .profile-img {
                    width: 12%;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        overflow: hidden;
                        border-radius: 100%;
                        padding: 5px;

                        &:before {
                            content: "";
                            display: block;
                            padding-top: 100%;

                            /* 1:1 비율 */
                        }
                    }
                }

                .profile-exp {
                    width: 84%;
                    // background-color: #08B46C;
                    display: flex;

                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    p {
                        width: 100%;
                        font-size: 1.1em;
                        font-weight: 500;

                        span {
                            font-size: .7em;

                        }
                    }

                    >span {
                        font-size: .9em;
                        display: block;
                        width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }

                .state {
                    width: 4px;
                    background-color: #FBD30A;
                }
            }
        }

        .chatt-box {
            width: 58%;
            // background-color: #F3FCF9;
            border-radius: 20px;
            height: 600px;
            box-shadow: 5px 5px 44px #ebebeb,
                -5px -5px 44px #ffffff;
            overflow: hidden;

            .chatt-list-wrap {
                width: 100%;
                height: 90%;
                padding: 2%;
                box-sizing: border-box;
                overflow-y: auto;

                .list {
                    >div {
                        width: 45%;
                        margin-top: 20px;
    
                        &:nth-child(1) {
                            margin-top: 0;
                        }
                    }

                    .pulling {
                        width: 100%;
                        height: 30px;
                        display: block;
                        border-radius: 12px;
                        font-size: 1.1em;
                        color: #9b9b9b;
                        &:hover {
                            background: #ededed;
                        }
                    }
    
                    .text-box {
                        width: auto;
                        border-radius: 6px;
                        padding: 3px 5px;
                        box-sizing: border-box;
                        box-shadow: 2px 2px 10px #f2f2f2,
                            -2px -2px 10px #f2f2f2;
                        position: relative;
    
                        .date {
                            font-size: .6em;
                            position: absolute;
                            bottom: 0;
                            width: max-content;
                            transform: translateX(-100%);
                        }
                    }
    
                    .one {
                        margin-left: 55%;
                        display: flex;
                        flex-direction: row-reverse;
    
                        .text-box {
                            background: #f3fcf98e;


                            .date {
                                font-size: .6em;
                                position: absolute;
                                bottom: 0;
                                left: -10px;
                                width: max-content;
                                transform: translateX(-100%);
                            }
                        }
                    }
    
                    .other {
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: space-between;
                        align-items: flex-start;
    
                        .profile-img {
                            width: 10%;
                            border-radius: 20%;
                            overflow: hidden;
    
                            img {
                                width: 100%;
                                display: block;
    
                                &:before {
                                    content: "";
                                    display: block;
                                    padding-top: 100%;
                                }
                            }
                        }
    
                        .right {
                            margin-left: 5%;
                            max-width: 85%;
                            display: flex;
                            flex-wrap: wrap;
    
                            .text-box {
                                width: auto;
                                // display: inline-block;
                                line-height: 110%;
                                background-color: #fff;
                                margin-top: 7px;
    
                                .date {
                                    right: -10px;
                                    transform: translateX(100%);
                                }
                            }
    
                            .info {
                                width: 100%;
                                font-size: .8em;
                                font-weight: 500;
    
                                span {
                                    font-size: .8em;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }

            .input-box {
                width: 100%;
                height: 10%;
                background-color: #272727;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    @include initial-input;
                    width: 80%;
                    height: 70%;
                    margin-left: 5%;
                    padding: 0 10px;
                    box-sizing: border-box;
                    font-size: 1.2em;
                    border-radius: 10px;
                }

                button {
                    width: 8%;
                    height: 70%;
                    border-radius: 10px;
                    margin-right: 5%;
                    font-size: 2em;
                    color: #fff;
                }
            }
        }
    }
}